* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    color: #3a3a47;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    max-width: 900px;
    background-color: #f0f5f9;
    padding: 25px;
}

.header,
.blog,
.sidebar,
.footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
}

@media all and (min-width: 600px) {
    /* if screen > 600px sidebar appears alongside blog getting 1/3rd of space */
    .blog {
        flex: 2 0px;
    }
    .sidebar {
        flex: 1 0px;
    }
}

@media all and (min-width: 800px) {
    /* On bigger screens, sidebar now only gets 1/4 of space */
    .blog {
        flex: 3 0px;
    }
    .sidebar {
        flex: 1 0px;
    }
}